# === mac
.DS_Store

# === env
.env

# === work
docs/superpowers/
docs/tmp/
temp/

# === android
android/.gradle/
android/.kotlin/
android/**/build/
android/local.properties
android/.idea/
android/*.iml
android/**/*.iml
